@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;400&display=swap");

.nav-main-container {
    background-color: #252b42;
    height:90px;
    /*    height:100vh;*/
    /*}*/
}

.inner-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-container h4{
    margin-right: 134px;
    color:#ec5c2e;
}

/*.navBarFields ul {*/
/*     display: flex;*/
/*    align-items: center;*/

/*}*/
.navBarFields  ul{
    display: flex;
    justify-content: space-between;
    gap:4rem;
    /*width: 800px;*/
    list-style: none;
    margin-right: 50px;
}
.navBarFields a {
    text-decoration: none;
    color:#9a9da6;
    transition:0.3s ease-in-out;
}
.navBarFields li a:hover{
    text-decoration: none;
    color:#ec5c2e;
}
.navBarFields li a:hover::after{
    content:"";
    width:30%;
    height:2px;
    background:#ec5c2e;
    position:absolute;
    bottom:-4px;
    left:20px;
}
.buttons button{
    width: 100px;
    height: 30px;
    background-color: #ec5c2e;
    border-radius: 30px;
    border-style: none;
    color: white;
    margin-left: 200px;
}
.buttons button:hover{
    background-color:pink;
}
.LoginButtons button{
    width: 100px;
    height: 30px;
    background-color: #ec5c2e;
    border-radius: 30px;
    border-style: none;
    color: white;
    margin-right:7px;
}
#mobile i{
    color:white;
}
.menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}
.menu span {
    height: 0.4rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.2rem;
}
@media (max-width: 480px) {
    .menu {
        display: flex;
    }

   .inner-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .navBarFields  ul  {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    .navBarFields  ul.open {
        display: flex;
    }
    .navBarFields  ul li {
        display: flex;
    }

    .navBarFields  ul li {
        width: 100%;
        text-align: center;
    }

    .navBarFields ul li a {
        margin: 0.2rem 0.5rem;
    }
}