.signup-main-contain{
    /*background-color:#252b42;*/
    background:#252b42;
    height:98vh;
    padding:10px;
    /*margin:0;*/
    /*padding:0;*/
}
.creat-txt h2{
    color:white;
    margin-left:120px;
}
.createacct-container{
    width: 670px;
    height: 557px;
    border: none;
    border-radius:10px;
    margin-left:310px;
    padding:20px;
    margin-top:30px;
    background-color:#433f5f;
}
.full-name-container input{
    width:200px;
    height:40px;
    border-radius:30px;
    border:none;
}
.main-cont{
    margin-left:100px;
    line-height: 3.3;
}
#lstnm{
    margin-left:60px;
}
.email-cont input{
    width:465px;
    height:40px;
    border-radius:30px;
    border:none;


}
.psswrdtxt input{
    width:465px;
    height:40px;
    border-radius:30px;
    border:none;
}
label{
    color:#94959e;
}
.crtbutton button{
    height:40px;
    width:450px;
    border:none;
    border-radius:30px;
    background-color: #ec5c2e;
    border:none;
    color:white;
    margin-top:50px;
}
.alredysign{
    display:flex;
    margin-left:100px;
}
#alrdtxt{
    color:white;
}
#sign-txt{
    margin-left:15px;
    color:#ec5c2e
}

@media screen and (min-width:320px) and (max-width:480px){
    .createacct-container{
        width: 480px;
        height: 650px;
        border: none;
        border-radius:7px;
        margin-left:2px;
        padding:20px;
        margin-top:4px;
        background-color:#433f5f;
    }
    .main-cont{
       margin-left:2px;
       line-height: 3.3;
   }
    .full-name-container input{
        width:125px;
        height:46px;
        border-radius:20px;
        border:none;
    }
    .email-cont input{
        width:320px;
        height:48px;
        border-radius:20px;
        border:none;
    }
    .psswrdtxt input{
        width:320px;
        height:50px;
        border-radius:30px;
        border:none;
    }
    .crtbutton button{
        height:50px;
        width:320px;
        border:none;
        border-radius:30px;
        background-color: #ec5c2e;
        border:none;
        color:white;
        margin-top:50px;
    }
    .creat-txt h2{
        color:white;
        margin-left:10px;
    }
    .alredysign{
        display:flex;
        margin-left:57px;
    }

}
@media screen and (min-width:360px) and (max-width:740px){
    .createacct-container{
        width: 480px;
        height: 690px;
        border: none;
        border-radius:7px;
        margin-left:0px;
        /*padding:20px;*/
        margin-top:4px;
        background-color:#433f5f;
    }
    .main-cont{
        margin-left:2px;
        line-height: 3.3;
    }
    .full-name-container input{
        width:289px;
        height:60px;
        border-radius:20px;
        border:none;
    }
    .email-cont input{
        width:300px;
        height:68px;
        border-radius:20px;
        border:none;
    }
    .psswrdtxt input{
        width:300px;
        height:60px;
        border-radius:30px;
        border:none;
    }
    .crtbutton button{
        height:50px;
        width:320px;
        border:none;
        border-radius:30px;
        background-color: #ec5c2e;
        border:none;
        color:white;
        margin-top:50px;
    }
    .creat-txt h2{
        color:white;
        margin-left:10px;
    }
    .alredysign{
        display:flex;
        margin-left:57px;
    }
    #lstnm{
        margin-left:2px;
        margin-top:27px;
    }
}
@media screen and (min-width:412px) and (max-width:915px){
    .createacct-container{
        width: 359px;
        height: 876px;
        border: none;
        border-radius:7px;
        /*margin-left:0px;*/
        margin-right: 30px;
        /*padding:20px;*/
        /*margin-top:2px;*/
        background-color:#433f5f;
    }
    .creat-txt h2{
        color:white;
        margin-left:10px;
        font-size: 40px;
    }
    .full-name-container input{
        width:340px;
        height:80px;
        border-radius:20px;
        border:none;
    }
     .email-cont input{
        width:340px;
        height:80px;
        border-radius:20px;
        border:none;
    }
    .psswrdtxt input{
        width:340px;
        height:80px;
        border-radius:20px;
        border:none;
    }
    .crtbutton button{
        height:80px;
        width:340px;
        border:none;
        border-radius:30px;
        background-color: #ec5c2e;
        color:white;
        margin-top:50px;
    }
    .signup-main-contain{
        /*background-color:#252b42;*/
        background:#252b42;
        height:100vh;
        padding:10px;
        /*margin:0;*/
        /*padding:0;*/
    }
}