.text-container{
    padding:20px 20px;
    display: flex;
    margin:40px;
    /*width:1000px;*/
    justify-content: space-around;
    /*align-items: center;*/
}
.home-container{
    background-color:#252b42;
    height:207vh;
}
.streamText{
    font-size:20px;
    width:370px;
    overflow-wrap:break-word;
    color:#ffffff;
    margin-right:600px;
}
.effort-text{
    width:370px;
    overflow-wrap:break-word;
    margin-left:5px;
    color:#9a9da6;
}
.joinandwatchButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:1100px;
    margin-top:50px;
    gap:3rem;
}
.joinButton button{
    height:35px;
    width:120px;
    border-radius: 40px;
    border-style: none;
    background-color: #ec5c2e;
}
.watchButton button{
    height:35px;
    width:120px;
    border-radius: 40px;
    border-style: none;
    background-color:#2d7bc4;
}
.key_text h4{
    color:#e3e3e6;
    margin-left:650px;
    font-size:30px;
}
.embrace_text p{
    width:550px;
    overflow-wrap:break-word;
    color: #50485a;
    margin-left:500px;
    font-size:13px;
}
/*.st-cont{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    margin-left: 120px;*/
/*}*/
.key-feature-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
     gap:3rem;
}
.key-feature-imgs h6{
    color:white;
}
.key-feature-imgs img{
   height:50px;
}
.key-feature-imgs p{
    width:200px;
    overflow-wrap:break-word;
    color: #50485a;
}
.task-mang p {
    margin-right: 30px;
}
.subscribe-box{
    width: 700px;
    height: 377px;
    border: none;
    background:#433f5f;
    border-radius:10px;

    boxShadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    /*padding: 90px;*/
    margin-left:350px;
    margin-top:80px;
}
.subscribe-box img{
    height:140px;
}
.subscribe-box h3{
    margin-left:130px;
    font-size:30px;
    color:white;
}
.sub-button{
    margin-left:130px;
}
.sub-button input{
    height:50px;
    width:350px;
    border-radius:40px;
}
.sub-button button{
    magin-right:20px;
    height:30px;
    width:100px;
    border:none;
    border-radius:30px;
    background-color: #ec5c2e;
}
@media screen and (min-width:360px) and (max-width:740px) {
    .text-container{
        padding:0;
        display: flex;
        margin:10%;
        /*width:1000px;*/
        justify-content: space-around;
        /*align-items: center;*/
    }
    /*.container{*/
    /*   width: 90px;*/
    /*}*/
    .streamText{
        font-size:14px;
        width:290px;
        overflow-wrap:break-word;
        color:#ffffff;
        margin-right:10px;
        margin-left:7px;
        /*margin-bottom: 100px;*/
    }
    .effort-text{
        font-size: 20px;
        width:270px;
        overflow-wrap:break-word;
        margin-left:5px;
        margin-top:40px;
        color:#9a9da6;
    }
    .joinandwatchButton{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left:170px;
        /*margin-top:9px;*/
        margin-bottom: 100px;
        gap:1.7rem;
    }
    .joinButton button{
        height:45px;
        width:130px;
        border-radius: 40px;
        border-style: none;
        background-color: #ec5c2e;
    }
    .subscribe-box{
        width: 357px;
        height: 494px;
        border: none;
        background:#433f5f;
        border-radius:6px;

        boxShadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        /*padding: 90px;*/
        margin-left:3px;
        margin-top:80px;
    }
    .subscribe-box h3{
        margin-left:30px;
        font-size:22px;
        color:white;
    }
    .sub-button input{
        height:80px;
        width:325px;
        border-radius:20px;
        border:none;
    }
    .sub-button{
        margin-left:14px;
    }
    .sub-button button{
        /*magin-right:20px;*/
        height:60px;
        width:320px;
        border:none;
        border-radius:20px;
        margin-top:30px;
        background-color: #ec5c2e;
    }
    .key-feature-imgs {
        display: block;
        justify-content: space-between;
        align-items: center;
        margin-left: 40px;
        gap:1rem;
    }
    .home-container {
        background-color: #252b42;
        height: 280vh;
    }
    .key_text h4{
        color:#e3e3e6;
        margin-left:70px;
        font-size:30px;
    }
    .watchButton button{
        height:45px;
        width:130px;
        border-radius: 40px;
        border-style: none;
        background-color:#2d7bc4;
    }
    .embrace_text p{
        width:300px;
        overflow-wrap:break-word;
        color: #50485a;
        margin-left:30px;
        font-size:15px;
    }
}
@media screen and (min-width:412px) and (max-width:915px) {
    .subscribe-box{
        width: 406px;
        height: 994px;
        border: none;
        background:#433f5f;
        border-radius:6px;

        boxShadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        /*padding: 90px;*/
        margin-left:3px;
        margin-top:80px;
    }
    .subscribe-box h3{
        margin-left:30px;
        font-size:56px;
        color:white;
    }
    .sub-button input{
        height:100px;
        width:355px;
        border-radius:20px;
        border:none;
    }
    .sub-button{
        margin-top: 100px;
    }
    .sub-button button{
        magin-right:20px;
        height:80px;
        width:350px;
        border:none;
        border-radius:30px;
        background-color: #ec5c2e;
    }







}