.text-container{
    padding:20px 20px;
    display: flex;
    margin:40px;
    /*width:1000px;*/
    justify-content: space-around;
    /*align-items: center;*/
}
.home-container{
    background-color:#252b42;
    height:207vh;
}
.streamText{
    font-size:20px;
    width:370px;
    overflow-wrap:break-word;
    color:#ffffff;
    margin-right:600px;
}
.effort-text{
    width:370px;
    overflow-wrap:break-word;
    margin-left:5px;
    color:#9a9da6;
}
.joinandwatchButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:1100px;
    margin-top:50px;
    gap:3rem;
}
.joinButton button{
    height:35px;
    width:120px;
    border-radius: 40px;
    border-style: none;
    background-color: #ec5c2e;
}
.watchButton button{
    height:35px;
    width:120px;
    border-radius: 40px;
    border-style: none;
    background-color:#2d7bc4;
}
.key_text h4{
    color:#e3e3e6;
    margin-left:650px;
    font-size:30px;
}
.embrace_text p{
    width:550px;
    overflow-wrap:break-word;
    color: #50485a;
    margin-left:500px;
    font-size:13px;
}
/*.st-cont{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    margin-left: 120px;*/
/*}*/
.key-feature-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
     gap:3rem;
}
.key-feature-imgs h6{
    color:white;
}
.key-feature-imgs img{
   height:50px;
}
.key-feature-imgs p{
    width:200px;
    overflow-wrap:break-word;
    color: #50485a;
}
.task-mang p {
    margin-right: 30px;
}
.subscribe-box{
    width: 700px;
    height: 377px;
    border: none;
    background:#433f5f;
    border-radius:10px;

    boxShadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    /*padding: 90px;*/
    margin-left:350px;
    margin-top:80px;
}
.subscribe-box img{
    height:140px;
}
.subscribe-box h3{
    margin-left:130px;
    font-size:30px;
    color:white;
}
.sub-button{
    margin-left:130px;
}
.sub-button input{
    height:50px;
    width:350px;
    border-radius:40px;
}
.sub-button button{
    magin-right:20px;
    height:30px;
    width:100px;
    border:none;
    border-radius:30px;
    background-color: #ec5c2e;
}
@media screen and (min-width:360px) and (max-width:740px) {
    .streamText{
        font-size:10px;
        width:110px;
        /*overflow-wrap:break-word;*/
        color:#ffffff;
        margin-right:10px;
        margin-left:7px;
    }
    .effort-text{
        width:200px;
        overflow-wrap:break-word;
        margin-left:5px;
        color:#9a9da6;
    }
    .joinandwatchButton{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right:4px;
        margin-top:7px;
        gap:0.7rem;
    }
    .joinButton button{
        height:35px;
        width:100px;
        border-radius: 40px;
        border-style: none;
        background-color: #ec5c2e;
    }
    .subscribe-box{
        width: 257px;
        height: 377px;
        border: none;
        background:#433f5f;
        border-radius:10px;

        boxShadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        /*padding: 90px;*/
        margin-left:70px;
        margin-top:80px;
    }
    .subscribe-box h3{
        margin-left:20px;
        font-size:12px;
        color:white;
    }
    .sub-button input{
        height:50px;
        width:220px;
        border-radius:40px;
        border:none;
    }
    .sub-button{
        margin-left:14px;
    }
    .sub-button button{
        /*magin-right:20px;*/
        height:50px;
        width:220px;
        border:none;
        border-radius:30px;
        margin-top:30px;
        background-color: #ec5c2e;
    }
    .key-feature-imgs {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 160px;
        gap:1rem;
    }
}
